.header-pic{
    background-image: url("../../assets/images/New folder/ballon.jpg"),linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    background-blend-mode: overlay;
    

}